extends layout

block content
  .imageSearch( ng-app="app" ,ng-controller="myCtrl" )
    .overLay(ng-show="loading")
      .loaderDiv
        .loader
    h1= title
    p Welcome to #{title}
    form(name='imageSearch', method='post')
      input(type='text', name='imageSearchText', placeholder='Search image' ng-model='imageSearchText' required)
      input(type='submit', value='submit' ng-click='googleSearch()')
    a(href='/keywords') Past Search keywords
